In [4]:
import pandas as pd 
data_set=pd.read_csv('StressLevelDataset.csv')

In [5]:
data_set.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2.0,3.0,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1.0,4.0,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2.0,3.0,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1.0,4.0,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1.0,5.0,0,5,1

In [6]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   int64
 1   self_esteem                   1100 non-null   int64
 2   mental_health_history         1100 non-null   int64
 3   depression                    1100 non-null   int64
 4   headache                      1100 non-null   int64
 5   blood_pressure                1100 non-null   int64
 6   sleep_quality                 1100 non-null   int64
 7   breathing_problem             1100 non-null   int64
 8   noise_level                   1100 non-null   int64
 9   living_conditions             1100 non-null   int64
 10  safety                        1100 non-null   int64
 11  basic_needs                   1100 non-null   int64
 12  academic_performance          1100 non-null   int64
 13  study_load                    1100 non-null   int64
 14  teacher_student_relationship  1100 non-null   int64
 15  future_career_concerns        1100 non-null   int64
 16  social_support                1099 non-null   float64
 17  peer_pressure                 1099 non-null   float64
 18  extracurricular_activities    1100 non-null   int64
 19  bullying                      1100 non-null   int64
 20  stress_level                  1100 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 180.6 KB

In [7]:
for col in data_set.columns:
    if data_set[col].isnull().any():
        if data_set[col].dtype=='object':
            data_set[col].fillna(data_set[col].mode()[0],inplace=True)
        else:
            data_set[col].fillna(data_set[col].mean(),inplace=True)

In [8]:
cat_col=data_set.select_dtypes(exclude='number').columns

In [9]:
cat_col

Index([], dtype='object')

In [10]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [11]:
for col in cat_col:
    if data_set[col].nunique() <= 5:
        dummies = pd.get_dummies(data_set[col], prefix=col, dtype=int)
        data_set = pd.concat([data_set.drop(col, axis=1), dummies], axis=1)
    else:
        data_set[col] = encoder.fit_transform(data_set[col])

In [12]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   int64
 1   self_esteem                   1100 non-null   int64
 2   mental_health_history         1100 non-null   int64
 3   depression                    1100 non-null   int64
 4   headache                      1100 non-null   int64
 5   blood_pressure                1100 non-null   int64
 6   sleep_quality                 1100 non-null   int64
 7   breathing_problem             1100 non-null   int64
 8   noise_level                   1100 non-null   int64
 9   living_conditions             1100 non-null   int64
 10  safety                        1100 non-null   int64
 11  basic_needs                   1100 non-null   int64
 12  academic_performance          1100 non-null   int64
 13  study_load                    1100 non-null   int64
 14  teacher_student_relationship  1100 non-null   int64
 15  future_career_concerns        1100 non-null   int64
 16  social_support                1100 non-null   float64
 17  peer_pressure                 1100 non-null   float64
 18  extracurricular_activities    1100 non-null   int64
 19  bullying                      1100 non-null   int64
 20  stress_level                  1100 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 180.6 KB

In [13]:
data_set.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2.0,3.0,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1.0,4.0,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2.0,3.0,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1.0,4.0,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1.0,5.0,0,5,1

In [14]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [15]:
for col in data_set.columns:
    if col!='stress_level':
        data_set[col]=scaler.fit_transform(data_set[[col]])

In [16]:
data_set.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,0.480208,0.248612,-0.985559,-0.201393,-0.360741,-1.418416,-0.426445,0.890211,-0.488949,0.430695,...,-0.539196,0.160736,-0.472800,0.254213,0.229550,0.113869,0.187997,0.164249,-0.403377,1
1,0.643746,-1.093590,1.014653,0.316508,1.768859,0.981981,-1.072574,0.890211,0.264334,-1.357096,...,-0.539196,-1.253741,1.047901,-1.190927,1.537869,-0.841417,0.890749,1.575763,1.557071,2
2,0.153131,0.024912,1.014653,0.187033,-0.360741,-1.418416,-0.426445,-0.538282,-0.488949,-0.463200,...,-0.539196,-0.546502,0.287551,0.254213,-0.424609,0.113869,0.187997,-0.541508,-0.403377,1
3,0.807284,-0.646189,1.014653,0.316508,1.058992,0.981981,-1.072574,0.175964,1.017616,-0.463200,...,-0.539196,-0.546502,1.047901,-1.190927,0.883709,-0.841417,0.890749,0.870006,1.557071,2
4,0.807284,1.143414,-0.985559,-0.719293,-0.360741,0.981981,1.511942,-1.252529,0.264334,-0.463200,...,0.158587,0.867974,0.287551,-1.190927,-0.424609,-0.841417,1.593501,-1.953023,1.557071,1

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x=data_set.drop('stress_level',axis=1)

In [19]:
y=data_set['stress_level']

In [20]:
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [21]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [22]:
model.fit(x_train,y_train)

LogisticRegression()

In [23]:
y_pred=model.predict(x_val)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
score=accuracy_score(y_val,y_pred)

In [26]:
score

0.8636363636363636

# Mutual_info_classif

In [27]:
from sklearn.feature_selection import mutual_info_classif

In [28]:
mi_scores=mutual_info_classif(x,y)

In [29]:
mi_scores

array([0.64686481, 0.6385361 , 0.24659735, 0.65511342, 0.57644498,
       0.75979465, 0.67091765, 0.35072198, 0.42180799, 0.3882372 ,
       0.53100001, 0.50651576, 0.53234219, 0.4268761 , 0.53479192,
       0.67353453, 0.54907694, 0.49836019, 0.54203297, 0.66079761])

In [30]:
type(mi_scores)

numpy.ndarray

In [31]:
mi_scores_df=pd.DataFrame(mi_scores,index=x.columns, columns=['Featurelar va Target qiymlat orasidagi munosoabat'])

In [32]:
mi_scores_df*100

                              Featurelar va Target qiymlat orasidagi munosoabat
anxiety_level                                                         64.686481
self_esteem                                                           63.853610
mental_health_history                                                 24.659735
depression                                                            65.511342
headache                                                              57.644498
blood_pressure                                                        75.979465
sleep_quality                                                         67.091765
breathing_problem                                                     35.072198
noise_level                                                           42.180799
living_conditions                                                     38.823720
safety                                                                53.100001
basic_needs                                                           50.651576
academic_performance                                                  53.234219
study_load                                                            42.687610
teacher_student_relationship                                          53.479192
future_career_concerns                                                67.353453
social_support                                                        54.907694
peer_pressure                                                         49.836019
extracurricular_activities                                            54.203297
bullying                                                              66.079761

# Feature Engineering

In [33]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   float64
 1   self_esteem                   1100 non-null   float64
 2   mental_health_history         1100 non-null   float64
 3   depression                    1100 non-null   float64
 4   headache                      1100 non-null   float64
 5   blood_pressure                1100 non-null   float64
 6   sleep_quality                 1100 non-null   float64
 7   breathing_problem             1100 non-null   float64
 8   noise_level                   1100 non-null   float64
 9   living_conditions             1100 non-null   float64
 10  safety                        1100 non-null   float64
 11  basic_needs                   1100 non-null   float64
 12  academic_performance          1100 non-null   float64
 13  study_load                    1100 non-null   float64
 14  teacher_student_relationship  1100 non-null   float64
 15  future_career_concerns        1100 non-null   float64
 16  social_support                1100 non-null   float64
 17  peer_pressure                 1100 non-null   float64
 18  extracurricular_activities    1100 non-null   float64
 19  bullying                      1100 non-null   float64
 20  stress_level                  1100 non-null   int64
dtypes: float64(20), int64(1)
memory usage: 180.6 KB

In [34]:
data_set['anxiety_level_future_career_concerns']=data_set['future_career_concerns']/data_set['anxiety_level']

In [35]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   anxiety_level                         1100 non-null   float64
 1   self_esteem                           1100 non-null   float64
 2   mental_health_history                 1100 non-null   float64
 3   depression                            1100 non-null   float64
 4   headache                              1100 non-null   float64
 5   blood_pressure                        1100 non-null   float64
 6   sleep_quality                         1100 non-null   float64
 7   breathing_problem                     1100 non-null   float64
 8   noise_level                           1100 non-null   float64
 9   living_conditions                     1100 non-null   float64
 10  safety                                1100 non-null   float64
 11  basic_needs                           1100 non-null   float64
 12  academic_performance                  1100 non-null   float64
 13  study_load                            1100 non-null   float64
 14  teacher_student_relationship          1100 non-null   float64
 15  future_career_concerns                1100 non-null   float64
 16  social_support                        1100 non-null   float64
 17  peer_pressure                         1100 non-null   float64
 18  extracurricular_activities            1100 non-null   float64
 19  bullying                              1100 non-null   float64
 20  stress_level                          1100 non-null   int64
 21  anxiety_level_future_career_concerns  1100 non-null   float64
dtypes: float64(21), int64(1)
memory usage: 189.2 KB

In [36]:
data_set['headache_blood_pressure']=data_set['blood_pressure']/data_set['headache']

In [37]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   anxiety_level                         1100 non-null   float64
 1   self_esteem                           1100 non-null   float64
 2   mental_health_history                 1100 non-null   float64
 3   depression                            1100 non-null   float64
 4   headache                              1100 non-null   float64
 5   blood_pressure                        1100 non-null   float64
 6   sleep_quality                         1100 non-null   float64
 7   breathing_problem                     1100 non-null   float64
 8   noise_level                           1100 non-null   float64
 9   living_conditions                     1100 non-null   float64
 10  safety                                1100 non-null   float64
 11  basic_needs                           1100 non-null   float64
 12  academic_performance                  1100 non-null   float64
 13  study_load                            1100 non-null   float64
 14  teacher_student_relationship          1100 non-null   float64
 15  future_career_concerns                1100 non-null   float64
 16  social_support                        1100 non-null   float64
 17  peer_pressure                         1100 non-null   float64
 18  extracurricular_activities            1100 non-null   float64
 19  bullying                              1100 non-null   float64
 20  stress_level                          1100 non-null   int64
 21  anxiety_level_future_career_concerns  1100 non-null   float64
 22  headache_blood_pressure               1100 non-null   float64
dtypes: float64(22), int64(1)
memory usage: 197.8 KB